node_modules
.next
dist
.git
.gitignore
*.md
.env
.env.local
.env.production
.env.production.example
docker-compose.prod.yml
nginx

storage/clients
storage/runs
storage/test-run

shared-data/users.json
shared-data/clients
shared-data/examples
shared-data/catalogs
